@use "sass:list";
@use '../01_utilities/_variables' as utilities;

:root{
    @for $i from 1 through list.length(utilities.$border-radiuses) {
        $border-radius: list.nth(utilities.$border-radiuses, $i);
        --mlt-sys-border-radius-#{$i}:#{$border-radius};
    }
}



@for $i from 1 through list.length(utilities.$border-radiuses) {
  $border-radius: list.nth(utilities.$border-radiuses, $i);
  .g--border-radius#{$i}{
      border-radius: var(--mlt-sys-border-radius-#{$i});
  }
}
