@use "sass:list";
@use '../01_utilities/_variables' as utilities;

:root{
    @for $i from 1 through list.length(utilities.$gap-sizes) {
        $gap: list.nth(utilities.$gap-sizes, $i);
        --mlt-sys-gap-#{$i}:#{$gap};
    }
}

@for $i from 1 through list.length(utilities.$gap-sizes) {
    $gap: list.nth(utilities.$gap-sizes, $i);
    .g--gap-#{$i}{
        gap: var(--mlt-sys-gap-#{$i});
    }
}
