:host {
  --host-min-height: var(--mlt-sys-height-100p);
  --host-background-color: var(--mlt-sys-secondaryLight);

  display: block;
  background-color: var(--host-background-color);
  min-height: var(--host-min-height);
}

.categorias {
  --categorias-max-width: var(--mlt-sys-width-1200);
  --categorias-padding: var(--mlt-sys-padding-15);
  --categorias-bg-container: var(--mlt-sys-secondaryLight);

  --categorias-table-width: var(--mlt-sys-width-100p);

  --categorias-table-border-spacing: 0;
  --categorias-table-bg: var(--mlt-sys-light);
  --categorias-table-border-radius: var(--mlt-sys-border-radius-15);
  --categorias-table-box-shadow: var(--mlt-sys-shadow-medium);
  --categorias-table-font-family: var(--mlt-sys-font-family-textos1);
  --categorias-table-font-size: var(--mlt-sys-font-size-16);
  --categorias-table-margin-bottom: var(--mlt-sys-margin-50);

  --categorias-table-th-bg: var(--mlt-sys-primary);
  --categorias-table-th-color: var(--mlt-sys-light);
  --categorias-table-th-padding: var(--mlt-sys-padding-15);
  --categorias-table-th-font-weight: var(--mlt-sys-font-weight-600);

  --categorias-padding-cell: var(--mlt-sys-padding-15);
  --categorias-table-td-border-width: var(--mlt-sys-border-width-1);
  --categorias-table-td-border-color: var(--mlt-sys-primary);
  --categorias-table-td-color: var(--mlt-sys-dark);

  --categorias-table-tr-hover-bg: var(--mlt-sys-secondaryTransparent);
  --categorias-table-tr-hover-transitions: var(--mlt-sys-transition-standard);

  --categorias-tbody-td-img-transition: all 0.3s ease;
  --categorias-tbody-td-img-grayscale-default: 20%;
  --categorias-tbody-td-img-grayscale-hover: 0%;
  --categorias-tbody-td-img-scale-hover: 1.2;
  --categorias-tbody-td-img-scale-active: 0.9;

  --categorias-tbody-td-shadow-eye: var(--mlt-sys-blueShadow);
  --categorias-tbody-td-shadow-trash: var(--mlt-sys-redShadow);
  --categorias-tbody-td-shadow-update: var(--mlt-sys-yellowShadow);

  --categorias-select-radius: var(--mlt-sys-border-radius-15);
  --categorias-select-border: var(--mlt-sys-border-width-1);
  --categorias-select-font: var(--mlt-sys-font-family-textos1);
  --categorias-select-padding: var(--mlt-sys-padding-8);
  --categorias-select-margin-left: var(--mlt-sys-margin-10);
  --categorias-select-bg: var(--mlt-sys-light);

  --categorias-button-padding: var(--mlt-sys-padding-8);
  --categorias-button-width: auto;
  --categorias-button-font-size: var(--mlt-sys-font-size-12);
  --categorias-button-font-weight: var(--mlt-sys-font-weight-600);
  --categorias-button-font-family: var(--mlt-sys-font-family-titulos);
  --categorias-button-bg: var(--mlt-sys-green);
  --categorias-button-bg-hover: var(--mlt-sys-greenLight);

  --categorias-toolbar-bg: var(--mlt-sys-primary);
  --categorias-toolbar-color: var(--mlt-sys-light);
  --categorias-toolbar-padding: var(--mlt-sys-padding-15);
  --categorias-toolbar-radius: var(--mlt-sys-border-radius-50p);
  --categorias-toolbar-shadow: var(--mlt-sys-shadow-small);
  --categorias-toolbar-margin-bottom: var(--mlt-sys-margin-20);

  margin: auto;
  max-width: var(--categorias-max-width);
  padding: var(--categorias-padding);
  background-color: var(--categorias-bg-container);
  overflow-x: auto;

  // &__table-wrapper {
  //    position: relative;
  //    margin-bottom: var(--categorias-table-margin-bottom);
  // }
  &__table-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__table {
    width: 900px;
    max-width: 100%;
    margin: 0;
    table-layout: fixed;

    width: var(--categorias-table-width);
    border-spacing: var(--categorias-table-border-spacing);
    background-color: var(--categorias-table-bg);
    border-radius: var(--categorias-table-border-radius);
    box-shadow: var(--categorias-table-box-shadow);
    overflow: hidden;
    font-family: var(--categorias-table-font-family);
    font-size: var(--categorias-table-font-size);
    margin-bottom: var(--categorias-table-margin-bottom);
    text-align: center;

    th {
      background-color: var(--categorias-table-th-bg);
      color: var(--categorias-table-th-color);
      padding: var(--categorias-table-th-padding);
      text-align: center;
      font-weight: var(--categorias-table-th-font-weight);
      text-transform: uppercase;

      &.categorias__header-id {
        width: 10%;
      }

      &.categorias__header-nombre {
        width: 50%;
        text-align: center;
      }

      &.categorias__header-gestion {
        width: 25%;
      }

      &.categorias__header-add {
        width: 15%;
        text-align: right;
        padding-right: 20px;
      }
    }

    td {
      padding: var(--categorias-padding-cell);
      border-bottom: var(--categorias-table-td-border-width) solid var(--categorias-table-td-border-color);
      vertical-align: middle;
      color: var(--categorias-table-td-color);
      text-align: center;
    }

    tr:hover {
      background-color: var(--categorias-table-tr-hover-bg);
      transition: var(--categorias-table-tr-hover-transitions);
    }

    tbody td {
      img {
        cursor: pointer;
        transition: var(--categorias-tbody-td-img-transition);
        vertical-align: middle;
        filter: grayscale(var(--categorias-tbody-td-img-grayscale-default));

        &:hover {
          filter: grayscale(var(--categorias-tbody-td-img-grayscale-hover));
          transform: scale(var(--categorias-tbody-td-img-scale-hover));
        }

        &:active {
          transform: scale(var(--categorias-tbody-td-img-scale-active));
        }

        &[src*='eyeIcon'] {
          &:hover {
            filter: drop-shadow(0 0 8px var(--categorias-tbody-td-shadow-eye));
          }
        }

        &[src*='redTrashIcon'] {
          &:hover {
            animation: shake 0.5s ease infinite;
            filter: drop-shadow(0 0 8px var(--categorias-tbody-td-shadow-trash));
          }
        }

        &[src*='updateIcon'] {
          &:hover {
            transform: scale(var(--categorias-tbody-td-img-scale-hover)) rotate(180deg);
            filter: drop-shadow(0 0 8px var(--categorias-tbody-td-shadow-update));
          }
        }
      }
    }
  }

  &__select {
    padding: var(--categorias-select-padding);
    margin-left: var(--categorias-select-margin-left);
    border-radius: var(--categorias-select-radius);
    border: var(--categorias-select-border) solid var(--categorias-table-td-border-color);
    font-family: var(--categorias-select-font);
    outline: none;
    cursor: pointer;
    background-color: var(--categorias-select-bg);
  }

  &__button {
    border: none;
    width: var(--categorias-button-width);
    border-radius: var(--mlt-sys-border-radius-4);
    padding: var(--categorias-button-padding);
    font-size: var(--categorias-button-font-size);
    font-weight: var(--categorias-button-font-weight);
    font-family: var(--categorias-button-font-family);
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--mlt-sys-light);
    background-color: var(--categorias-button-bg);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--categorias-button-bg-hover);
      transform: translateY(-1px);
    }
  }

  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--categorias-toolbar-bg);
    color: var(--categorias-toolbar-color);
    padding: var(--categorias-toolbar-padding);
    margin-bottom: var(--categorias-toolbar-margin-bottom);
    border-radius: var(--categorias-toolbar-radius);
    box-shadow: var(--categorias-toolbar-shadow);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  20% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }

  40% {
    transform: translate(-1px, 1px) rotate(1deg);
  }

  60% {
    transform: translate(1px, -1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, 1px) rotate(1deg);
  }

  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}