<main class="login">
    <div class="login__container">
        <div class="login__form">
            <h2 class="login__title">Iniciar sesión</h2>

                <div class="login_field">
                    <label for="userName" class="login__label">Usuario</label>
                    <input type="text" class="login__input" id="userName" placeholder="Ingresa tu usuario" required [(ngModel)]="user.userName">
                </div>


                <div class="login_field">
                    <label for="password" class="login__label">Contraseña</label>
                    <input type="password" class="login__input" id="password" placeholder="Contraseña" required [(ngModel)]="user.password">
                </div>


                <div class="login__actions">
                    <button type="submit" class="login__button" (click)="login()" routerLink="/inicio">Iniciar sesión</button>
                </div>
        </div>
    </div>
</main>