$colors: (
  primary: #571e2d,
  secondary: #b99880,
  light: #f8f6f0,
  dark: #0f0f0f,
  green: #4caf50,
  red: #f91100,
  blue: #0399cc,
  yellow: #ff9800,
);

$font-sizes: (
  12: 12px,
  16: 16px,
  20: 20px,
  30: 30px,
);
$font-families: (
  titulos: 'Poppins',
  textos1: 'Sorts Mill Goudy'
);

$margin-sizes: (
  1: 1px,
  4: 4px,
  10: 10px,
  100: 100px,
  150: 150px,
  3p: 3%,
);

$width-sizes: (
  80: 80px,
  350: 350px,
  400: 400px,
  100p: 100%,
);

$height-sizes: (
  80: 80px,
);

$border-radiuses: (
  4: 4px,
  15: 15px,
);

$border-widths: (
  1: 1px,
);

$padding-sizes: (
  12: 12px,
  15: 15px,
);

$gap-sizes: (
  10: 10px,
);

$shadows: (
  none: none,
  small: 0 1px 3px rgba(0, 0, 0, 0.12),
  medium: 0 4px 6px rgba(0, 0, 0, 0.1),
  large: 0 10px 20px rgba(0, 0, 0, 0.15),
);


$font-weights: (
  600: 600,
  700: 700,
);
