$colors: (
    primary:#571E2D,
    secondary:#B99880,
    light:#F8F6F0,
    dark:#0F0F0F,
);


// borrar las que no usemos
$font-sizes: ( 10px, 12px, 14px, 16px, 20px, 24px, 32px);

$margin-sizes: ( 0px, 4px, 8px, 12px, 16px, 20px, 24px, 32px);

$width-sizes: ( 50px, 100px, 150px, 200px, 250px, 300px, 350px, 400px, 450px, 500px);

$height-sizes: ( 50px, 100px, 150px, 200px, 250px, 300px, 350px, 400px, 450px, 500px);

$border-radiuses: ( 10%, 20%, 30%, 40%, 50%);

$padding-sizes: ( 0px, 4px, 8px, 12px, 16px, 20px, 24px, 32px);

$gap-sizes: ( 0px, 4px, 8px, 12px, 16px, 20px, 24px, 32px);

