@if (loginService.isAdmin()) {
    <header class="header g--background-admin">
        <img class="header__logo" routerLink="/inicioAdmin" src="/assets/LogoExpress.png">
        <h1 class="g--color-light g--font-size-5 g--font-family-titulos">Panel de Administración</h1>

        <nav>
            <ul class="header__nav-list">
                <li class="header__nav-item"><a class="header__nav-link" routerLink="/servicios">Gestión Servicios</a>
                </li>
                <li class="header__nav-item"><a class="header__nav-link" routerLink="/categorias">Gestión Categorías</a>
                </li>
                <li class="header__nav-item"><a class="header__nav-link" (click)="loginService.logOut()"
                        routerLink="/">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
} @else {
    <header class="header">
        <img class="header__logo" routerLink="/inicio" src="/assets/LogoExpress.png">
        <nav>
            <ul class="header__nav-list">
                <li class="header__nav-item"><a class="header__nav-link" routerLink="/inicio">Inicio</a></li>
                <li class="header__nav-item"><a class="header__nav-link" routerLink="/reservas">Mis Reservas</a></li>
                <li class="header__nav-item"><a class="header__nav-link" (click)="loginService.logOut()"
                        routerLink="/">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
}

