.card {
    --card-titulos-font-family: var(--mlt-sys-font-titulos);
    --card-textos-font-family: var(--mlt-sys-font-textos1);
    --card-border-radius: var(--mlt-sys-border-radius-15);
    --card-background: var(--mlt-sys-secondary);
    --card-padding: var(--mlt-sys-padding-12);
    --card-margin: var(--mlt-sys-margin-4);
    --card-shadow: var(--mlt-sys-shadow-large);

    --card-image-width: var(--mlt-sys-width-100p);
    --card-image-border-radius: var(--mlt-sys-border-radius-15);


    --card-content-padding: var(--mlt-sys-padding-12);

    --card-title-font-size: var(--mlt-sys-font-size-20);
    --card-title-color: var(--mlt-sys-light);

    --card-description-font-size: var(--mlt-sys-font-size-16);
    --card-description-color: var(--mlt-sys-primary);

    --card-price-font-size: var(--mlt-sys-font-size-20);
    --card-price-color: var(--mlt-sys-light);

    --card-button-width: var(--mlt-sys-width-100p);
    --card-button-padding: var(--mlt-sys-padding-12);
    --card-button-background: var(--mlt-sys-primary);
    --card-button-color: var(--mlt-sys-light);
    --card-button-border-radius: var(--mlt-sys-border-radius-15);

  width: var(--card-width);
  border-radius: var(--card-border-radius);
  background-color: var(--card-background);
  padding: var(--card-padding);
  margin: var(--card-margin);
  box-shadow: var(--card-shadow);
  
  

  &__content {
    padding: var(--card-content-padding);
  }

  &__title {
    font-size: var(--card-title-font-size);
    font-weight: bold;
    font-family: var(--card-titulos-font-family);
    color: var(--card-title-color);
  }

  &__description {
    font-size: var(--card-description-font-size);
    font-family: var(--card-textos-font-family);
    color: var(--card-description-color);
   
  }

  &__price {
    font-size: var(--card-price-font-size);
    font-weight: bold;
    color: var(--card-price-color);
    text-align: right;
  }

  &__button {
    display: block;
    width: var(--card-button-width);
    margin: auto;
    padding: var(--card-button-padding);
    background-color: var(--card-button-background);
    color: var(--card-button-color);
    border: none;
    border-radius: var(--card-button-border-radius);
    cursor: pointer;
    font-weight: bold;
    font-family: var(--card-titulos-font-family);
    text-align: center;
  }
}
