.formulario {
    --formulario-width: var(--mlt-sys-width-400);
    --formulario-margin: var(--mlt-sys-margin-150) auto;
    --formulario-padding: var(--mlt-sys-padding-15);
    --formulario-bg-color: var(--mlt-sys-secondary);
    --formulario-border-radius: var(--mlt-sys-border-radius-15);
    --formulario-box-shadow: var(--mlt-sys-shadow-medium);

    --formulario-title-font-size: var(--mlt-sys-font-size-30);
    --formulario-title-margin-bottom: var(--mlt-sys-margin-10);   
    --formulario-title-color: var(--mlt-sys-dark);

    --formulario-form-gap: var(--mlt-sys-gap-10);

    --formulario-input-padding: var(--mlt-sys-padding-12);
    --formulario-input-border: var(--mlt-sys-border-width-1) solid var(--mlt-sys-dark);
    --formulario-input-border-radius: var(--mlt-sys-border-radius-4);
    --formulario-input-font-size: var(--mlt-sys-font-size-16);

    --formulario-button-padding: var(--mlt-sys-padding-12);
    --formulario-button-font-size: var(--mlt-sys-font-size-16);
    --formulario-button-bg-color: var(--mlt-sys-primary);
    --formulario-button-color: var(--mlt-sys-light);
    --formulario-button-border-radius: var(--mlt-sys-border-radius-4);

  width: var(--formulario-width);
  margin: var(--formulario-margin);
  padding: var(--formulario-padding);
  background-color: var(--formulario-bg-color);
  border-radius: var(--formulario-border-radius);
  box-shadow: var(--formulario-box-shadow);

  &__title {
    text-align: center;
    font-size: var(--formulario-title-font-size);
    margin-bottom: var(--formulario-title-margin-bottom);
    color: var(--formulario-title-color);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--formulario-form-gap);

    &-input {
      padding: var(--formulario-input-padding);
      border: var(--formulario-input-border);
      border-radius: var(--formulario-input-border-radius);
      font-size: var(--formulario-input-font-size);
    }

    &-button {
      padding: var(--formulario-button-padding);
      font-size: var(--formulario-button-font-size);
      background-color: var(--formulario-button-bg-color);
      color: var(--formulario-button-color);
      border: none;
      border-radius: var(--formulario-button-border-radius);

      &--volver {
        background-color: var(--mlt-sys-blue);
        color: var(--mlt-sys-light);
    }
    }
  }
}
